.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #FFFFFF;
  display: grid;
  align-items: center;
  justify-content: center;

  .wrapper {
    margin: 0 20px;
    min-height: 550px;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .contentLogo {
        display: flex;
        margin: 0 auto;
        padding-top: 10%;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      background: #F1F1F1;
      padding-left: 72px;

      h1 {
        margin: 0 auto;
        font-weight: 500;
        font-size: 34px;
      }

      p {
        margin: 16px auto 0 auto;
        font-weight: 500;
        font-size: 16px;

        span {
          color: #384AD3;
          text-decoration: none;
        }
      }

      .formContents {
        margin-top: 56px;
        display: flex;
        flex-direction: column;
        align-items: start;
        font-weight: 500;
        font-size: 16px;
        width: 100%;

        .formItem {
          width: 85%;
          border-bottom: 1px solid #D9D9D9;
        }
      }

      .btnWrapper {
        margin: 0 auto;

        .btn {
          height: 47px;
          font-weight: 500;
          font-size: 16px;
          padding: 12px 78px;
          background: #384AD3;
          border-radius: 1px;
        }
      }

    }
  }
}
